#account-section {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 120px;
    h1.title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #253D4E;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .page-description {
        margin-bottom: 24px;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #253D4E;
            margin: 0;
        }
    }
}

.col-2-container {
    width: 15%;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 40px 40px 40px 64px;
    margin-right: 24px;
    min-height: 900px;
    .account-link-slot {
        .account-link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #253D4E;
            width: max-content;
            padding-left: 16px;
            text-decoration: none;
            margin-bottom: 8px;
            &:hover,
            &.active {
                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                color: #00B2FF;
            }
            &:hover.account::before,
            &.active.account::before {
                background: url('./../assets/icons/account-account-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.orders::before,
            &.active.orders::before {
                background: url('./../assets/icons/account-cart-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.prices::before,
            &.active.prices::before {
                background: url('./../assets/icons/account-calc-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.files::before,
            &.active.files::before {
                background: url('./../assets/icons/account-files-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.account::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-account.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.orders::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-cart.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.prices::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-calc.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.files::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-files.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

.col-10-container {
    width: 85%;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 40px;
}