.accordion-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.accordion {
    border-radius: 18px;
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
}

/* Accordion styles */
.accordion-tabs {
  overflow: hidden;
  border-radius: 18px;
}
.accordion-tab {
  width: 99%;
  color: #FFFFFF;
  overflow: hidden;
  border: 1px solid #253D4E;
  &:first-of-type {
    border-radius: 18px 18px 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 18px 18px;
  }
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #FFFFFF;
    color: #253D4E;
    font-weight: 700;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken(#FFFFFF, 10%);
    }
    &::after {
      content: "\2795";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }

  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    background: #FFFFFF;
    transition: all .35s;
    color: #253D4E;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #FFFFFF;
    cursor: pointer;
    &:hover {
      background: darken(#FFFFFF, 10%);
    }
  }
}

// :checked
input:checked {
  + .accordion-tab-label {
    border-bottom: 1px solid #253D4E;
    &::after {
        content: "\2796";
    }
  }
  ~ .accordion-tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
