.breadcrumbs {
    ul {
        display: inline-flex;
        padding-left: 0;
        li.breadcrumb-item {
            position: relative;
            list-style: none;
            margin-right: 40px;
            &:nth-child(1)::after {
                display: none;
            }
            &::after {
                position: absolute;
                margin-right: 10px;
                top: 6px;
                left: -24px;
                background-size: contain;
                width: 15px;
                height: 15px;
                content: "";
                background-image: url(./../assets/icons/breadcrumb-chevron-right.svg);
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center center;
            }
            a {
                font-weight: 400;
                font-size: 18px;
                line-height: 164%;
                color: #012e71;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .breadcrumbs {
        ul {
            li.breadcrumb-item {
                margin-right: 24px;
                &::after {
                    margin-right: 10px;
                    top: 5px;
                    left: -16px;
                    width: 12px;
                    height: 12px;
                }
                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .breadcrumbs {
        ul {
            li.breadcrumb-item {
                margin-right: 16px;
                &::after {
                    margin-right: 8px;
                    top: 8px;
                    left: -12px;
                    width: 9px;
                    height: 9px;
                }
                a {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}