#offertory-section {
    width: 80vw;
    margin: 0 auto;
    .category-title {
        font-size: 36px;
        line-height: 43px;
        color: #253D4E;
        span {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
        }
    }
}