
#swiper {
    width: 100vw;
    .swiper {
        width: 100%;
        height: 563px;
        z-index: 0;
        .swiper-button-next,
        .swiper-button-prev {
            color: #012E71 !important;
        }
        .swiper-slide {
            img {
                width: 100%;
                object-position: center;
            }
        }
    }
}