@import 'reset';
@import 'nav';
@import 'breadcrumbs';
@import './main_page/swiper';
@import './main_page/our-products';
@import './main_page/how-we-do-it';
@import './cart_page/cart-section';
@import './main_page/our-experience';
@import './main_page/why-us';
@import './main_page/our-clients';
@import './main_page/sale';
@import './main_page/faq';
@import 'accordion';
@import 'products';
@import 'category-section';
@import './product_page/product-section';
@import './cart_page/cart';
@import './cart_page/cart-your-data';
@import './cart_page/cart-summary';
@import './offerts';
@import './account/account';
@import './account/account_pricing';
@import './account/account_pricing_details';
@import './account/account_orders';
@import './account/account_orders_details';
@import './account/account_offerts';
@import './account/account_files';
@import './footer';
@import './article';
@import './blog';
@import './clients';
@import './login';
@import './contact';

body {
    accent-color: #253D4E;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
    outline: 0 !important;
    border: 1px solid #253D4E !important;
}

body.open-modal {
    position: fixed;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        width: 100vw;
        height: 100vh;
        background-color: #505050b7;
        z-index: 10;
    }
    #account-section {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


#main-wrapper {
    position: relative;
    top: 0
}

.row-container {
    display: flex;
    flex-direction: row;
    .col-8-container {
        display: flex;
        flex-direction: column;
        width: 66%;
    }
    .col-4-container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
}

@media (max-width: 1280px) {
    .row-container {
        flex-direction: column !important;
        .col-8-container {
            width: 100%;
            .category-title {
                font-size: 20px;
                line-height: 24px;
                span {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
        .col-4-container {
            width: 100%;
        }
        .col-2-container {
            width: calc(100% - 10vw);
            min-height: unset;
            margin-bottom: 24px;
        }
        .col-10-container {
            width: 100%;
            margin-bottom: 24px;
        }
    }
    // #main-wrapper {
    //     top: 80px !important;
    // }
}

body.main #main-wrapper {
    background-color: #FFFFFF;
}

body #main-wrapper {
    background-color: #FAFCFD;
}

@media (max-width: 780px) {
    section {
        margin-bottom: 24px !important;
        width: 90vw !important;
    }
}