@import 'reset';
@import 'nav';
@import 'breadcrumbs';
@import './main_page/swiper';
@import './main_page/our-products';
@import './main_page/how-we-do-it';
@import 'cart-section';
@import './main_page/our-experience';
@import './main_page/why-us';
@import './main_page/our-clients';
@import './main_page/sale';
@import './main_page/faq';
@import 'accordion';
@import 'products';
@import 'footer';

#main-wrapper {
    position: relative;
    top: 181px;
}

@media (max-width: 1280px) {
    #main-wrapper {
        top: 80px;
    }
}

@media (max-width: 780px) {
    section {
        margin-bottom: 24px !important;
    }
}