#cart-section.cart {
    width: 80vw;
    margin: 0 auto;
}

.cart-description {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    ol {
        li {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 31px;
            color: #253D4E;
            text-align: center;
        }
    }
}

.cart-right-container {
    position: sticky;
    top: 200px;
    margin-left: 24px;
    .cart-summary-container {
        padding: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        margin-bottom: 24px;
        background-color: #FFFFFF;
        .cart-summary {
            margin-bottom: 24px;
            h1.title {
                position: relative;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #253D4E;
                margin: 0;
                margin-left: 64px;
                &::before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -72px;
                    background-size: contain;
                    width: 50px;
                    height: 50px;
                    content: "";
                    background-image: url(./../assets/cart-page/cart-calculate.svg);
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center center;
                } 
            }
        }
        .cart-summary-value {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #253D4E;
                margin: 16px 0 0 0;
            }
        }
        .cart-summary-delivery {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #253D4E;
                margin: 16px 0 0 0;
            }
        }
        .cart-summary-netto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                color: #253D4E;
                margin: 16px 0 0 0;
            }
        }
        .cart-summary-vat {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                color: #253D4E;
                margin-top: 0;
            }
        }
        .cart-summary-summary {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            .summary-text {
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                color: #253D4E;
                white-space: pre;
                margin: 0;
            }
            .summary-price {
                font-weight: 700;
                font-size: 35px;
                line-height: 57px;
                color: #83C000;
                white-space: pre;
                margin: 0;
            }
        }
        .cart-summary-btn {
            .summary-btn {
                height: 32px;
                border: 1px solid #83C000;
                background-color: #83C000;
                border-radius: 30px;
                padding: 0 16px;
                transition: 0.6s;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    font-size: 20px;
                    color: #FFFFFF;
                    text-decoration: none;
                    width: 100%;
                }
                &:hover {
                    background-color: #FFFFFF;
                }
                &:hover a {
                    color: #83C000;
                }
            }
        }
    }
    .cart-consents-and-regulations-container {
        padding: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        margin-bottom: 24px;
        background-color: #FFFFFF;
        h1.title {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #253D4E;
            margin: 0;
        }
        .regulations-checbox {
            margin: 16px 0;
            input,
            label {
                cursor: pointer;
            }
        }
    }
    .cart-bank-transfer-container {
        padding: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        margin-bottom: 24px;
        background-color: #FFFFFF;
        h1.title {
            position: relative;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #253D4E;
            margin: 0;
            margin-left: 64px;
            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -72px;
                background-size: contain;
                width: 50px;
                height: 50px;
                content: "";
                background-image: url(./../assets/cart-page/cart-coins.svg);
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center center;
            } 
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #253D4E;
        }
    }
    .delivery-car-container {
        padding: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        margin-bottom: 32px;
        background-color: #FFFFFF;
        h1.title {
            position: relative;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #253D4E;
            margin: 0;
            margin-left: 64px;
            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -72px;
                background-size: contain;
                width: 50px;
                height: 50px;
                content: "";
                background-image: url(./../assets/cart-page/cart-car.svg);
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center center;
            } 
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #253D4E;
        }
    }
}


@media (max-width: 760px) {
    #cart-section.cart {
        width: 90vw !important;
    }
    .cart-description {
        display: none !important;
    }
    #cart-section.cart .cart-description ol {
        padding-left: 0 !important;
        li {
            font-size: 14px !important;
            line-height: 21px !important;
        }
    }
    #cart-section.cart .offerts-product-middle-left {
        width: 90% !important;
    }
    .offerts-product-bottom-extra {
        flex-direction: column !important;
        .offerts-product-bottom-extra-left,
        .offerts-product-bottom-extra-right {
            width: 90% !important;
            margin-right: 0 !important;
            margin-bottom: 24px !important;
        }
    }
    .cart-right-container .cart-summary-container .cart-summary h1.title,
    .cart-right-container .cart-bank-transfer-container h1.title,
    .cart-right-container .delivery-car-container h1.title,
    .cart-right-container .cart-summary-container .cart-summary-summary .summary-price {
        font-size: 20px !important;
        line-height: 24px !important;
    }
    .offerts-product-container .offerts-product-bottom-extra .offerts-product-bottom-extra-left .offerts-product-bottom-extra-left-text p,
    .offerts-product-container .offerts-product-bottom-extra .offerts-product-bottom-extra-right .offerts-product-bottom-extra-right-text p,
    .cart-right-container .cart-bank-transfer-container p,
    .cart-right-container .delivery-car-container p {
        font-size: 14px !important;
        line-height: 21px !important;
    }
}