body.cart.summary {
    .col-12-container {
        width: 100%;
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        .cart-col-3-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;
            margin: 0;
            margin-right: 24px;
            margin-bottom: 24px;
            padding: 24px 40px;
            border: 1px solid #D9D9D9;
            border-radius: 30px;
            background-color: #FFFFFF;
            &:last-child {
                margin-right: 0;
            }
            .cart-col-3-container-top {
                h1.title {
                    margin: 0;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    color: #253D4E;
                }
                .cart-col-3-info {
                    margin: 16px 0;
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #253D4E;
                        margin: 0;
                    }
                }
            }
            .cart-col-3-container-bottom {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                &.company {
                    justify-content: space-between;
                }
                .company-info {
                    p {
                        position: relative;
                        margin: 0;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        color: #83C000;
                        margin-left: 16px;
                        &::before {
                            position: absolute;
                            content: '';
                            top: 4px;
                            left: -20px;
                            background: url('./../assets/cart-page/cart-green-approve.svg');
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
                .change-cart-btn {
                    a {
                        position: relative;
                        margin: 0;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        text-decoration: underline;
                        text-transform: uppercase;
                        color: #253D4E;
                        &:hover {
                            text-decoration: none;
                        }
                        &::before {
                            position: absolute;
                            content: '';
                            top: 1px;
                            left: -24px;
                            background: url('./../assets/cart-page/cart-change-icon.svg');
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
    .offerts-product-container .offerts-product-slot .offerts-product-top p {
        display: none !important;
    }
}

/* =================================== 1280 px ========================== */

@media (max-width: 1280px) {
    body.cart.summary .col-12-container {
        flex-direction: column !important;
        margin-top: 24px !important;
    }
    body.cart.summary .col-12-container .cart-col-3-container {
        width: 100% !important;
    }
}

/* =================================== 760 px ========================== */

@media (max-width: 760px) {
    body.cart.summary .col-12-container .cart-col-3-container {
        width: 90% !important;
        padding: 16px !important;
    }
    body.cart.summary .col-12-container .cart-col-3-container .cart-col-3-container-top h1.title {
        font-size: 20px !important;
	    line-height: 24px !important;
    }
    body.cart.summary .col-12-container .cart-col-3-container .cart-col-3-container-top .cart-col-3-info p {
        font-size: 14px !important;
        line-height: 21px !important;
    }
}