.cart-your-data-container {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 40px; 
    margin-top: 48px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    .buyer-title {
        h1.title {
            width: 100%;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #253D4E
        }
    }
    .buyer-data {
        display: inline-flex;
        flex-direction: column;
        width: 45%;
        margin-right: 2%;
        .buyer-data-row {
            display: flex;
            flex-direction: column;
        }
        .buyer-data-col {
            display: flex;
            flex-direction: column;
            .buyer-data-slot {
                display: flex;
                flex-direction: column;
                label {
                    margin: 8px 0;
                }
                input {
                    height: 45px;
                    border: 1px solid #ADADAD;
                    border-radius: 18px;
                    padding: 0 16px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 31px;
                    color: #253D4E;
                    background-color: #FAFCFD;
                }
            }
        }
    }
    .buyer-address {
        display:  inline-flex;
        flex-direction: column;
        width: 45%;
        .buyer-address-row {
            display: flex;
            flex-direction: column;
        }
        .buyer-address-col {
            display: flex;
            flex-direction: column;
            .buyer-data-slot {
                display: flex;
                flex-direction: column;
                label {
                    margin: 8px 0;
                }
                input {
                    height: 45px;
                    border: 1px solid #ADADAD;
                    border-radius: 18px;
                    padding: 0 16px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 31px;
                    color: #253D4E;
                    background-color: #FAFCFD;
                }
            }
        }
    }
}

body.cart-data .cart-right-container {
    margin-top: 48px;
}

@media (max-width: 760px) {
    .cart-your-data-container .buyer-address,
    .cart-your-data-container .buyer-data {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .cart-your-data-container .buyer-title h1.title {
        margin-top: 0 !important;
    }
    .cart-your-data-container {
        margin-top: 0 !important;
        padding: 24px !important;
    }
    .cart-your-data-container .buyer-address .buyer-address-row {
        margin-top: 16px !important;
    }
    .cart-your-data-container .buyer-title h1.title {
        font-size: 20px !important;
        line-height: 24px !important;
    }
    .cart-your-data-container .buyer-address .buyer-address-col .buyer-data-slot label {
        font-size: 14px !important;
        line-height: 21px !important;
    }
    .cart-your-data-container .buyer-data .buyer-data-row form {
        display: inline-flex !important;
    }
    body.cart-data .cart-right-container {
        margin-top: 24px !important;
        margin-left: 0 !important;
    }
}