.cart-stages {
    ul {
        display: inline-flex;
        padding-left: 0;
        li {
            position: relative;
            list-style: none;
            margin-right: 64px;
            &:nth-child(1)::after {
                display: none;
            }
            &::after {
                position: absolute;
                margin-right: 10px;
                top: 20px;
                left: -40px;
                background-size: contain;
                width: 15px;
                height: 15px;
                content: "";
                background-image: url(./../assets/icons/cart-chevron.svg);
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center center;
            }
            a {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #ADADAD;
                text-decoration: none;
                pointer-events: none;
                &.active {
                    color: #00B2FF;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .cart-stages {
        ul {
            li {
                margin-right: 24px;
                a {
                    font-size: 14px !important;
                    line-height: 21px;
                }
                &::after {
                    position: absolute;
                    margin-right: 6px;
                    top: 5px;
                    left: -16px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

@media (max-width: 1530px) {
    .cart-stages {
        ul {
            li {
                a {
                    font-size: 32px;
                    line-height: 40px;
                    white-space: pre;
                }
                &::after {
                    top: 14px;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .cart-stages {
        ul {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}