#account-section {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 120px;
    h1.title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #253D4E;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .page-description {
        margin-bottom: 24px;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #253D4E;
            margin: 0;
        }
    }
    .account-add-a-new-address-container,
    .account-change-address-container,
    .account-change-personal-data-container,
    .account-change-delivery-address-container,
    .account-change-invoice-data-container, 
    .account-change-password-container {
        display: none;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        z-index: 99999999999999999999999999999999999999999;
        padding: 60px 80px;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60vw;
        &.active {
            display: block;
        }
        .x-close-icon {
            position: absolute;
            top: 24px;
            right: 24px;
            cursor: pointer;
            width: 20px;
            height: 20px;
            content: '';
            background: url('./../assets/icons/account-x-icon.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #253D4E;
        }
        .address-cont-big-slot {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .address-cont-left-slot {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 45%;
                .add-a-new-address-slot {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    &.checkbox {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        label {
                            margin-left: 16px;
                            &::before {
                                display: none;
                            }
                        }
                        input {
                            width: 20px;
                            height: 20px;
                            margin-left: 0;
                            padding: 0;
                            margin-top: 12px;
                            background-color: #FAFCFD;
                        }
                    }
                    label {
                        position: relative;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 30px;
                        color: #253D4E;
                        margin-left: 32px;
                        margin-top: 8px;
                        &::before {
                            position: absolute;
                            content: '';
                            top: 4px;
                            left: -32px;
                            background: url('./../assets/icons/Location.svg');
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        &.name::before {
                            position: absolute;
                            content: '';
                            top: 4px;
                            left: -32px;
                            background: url('./../assets/icons/account-account.svg');
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    input {
                        border: 1px solid #ADADAD;
                        border-radius: 18px;
                        height: 45px;
                        padding-left: 16px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        margin-top: 8px;
                        background-color: #FAFCFD;
                    }
                }
            }
            .address-cont-right-slot {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 45%;
                .add-a-new-address-slot {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    label {
                        position: relative;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 30px;
                        color: #253D4E;
                        margin-left: 32px;
                        margin-top: 8px;
                        &::before {
                            position: absolute;
                            content: '';
                            top: 4px;
                            left: -32px;
                            background: url('./../assets/icons/Location.svg');
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        &.surname::before {
                            position: absolute;
                            content: '';
                            top: 4px;
                            left: -32px;
                            background: url('./../assets/icons/account-account.svg');
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    input {
                        border: 1px solid #ADADAD;
                        border-radius: 18px;
                        height: 45px;
                        padding-left: 16px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        margin-top: 8px;
                        background-color: #FAFCFD;
                    }
                }
            }
        }
        .address-slot-btn {
            .save-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #012E71;
                color: #FFFFFF;
                text-decoration: none;
                border: 1px solid #012E71;
                margin: 0 auto;
                font-weight: 700;
                border-radius: 39px;
                width: 60%;
                height: 56px;
                margin-top: 22px;
                transition: 0.6s;
                margin-top: 64px;
                &:hover {
                    background: #FFFFFF;
                    color: #012E71;
                }
            }
        }
    }
}

.col-2-container {
    width: 15%;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 40px 40px 40px 64px;
    margin-right: 24px;
    min-height: 900px;
    background-color: #FFFFFF;
    .account-link-slot {
        .account-link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #253D4E;
            width: max-content;
            padding-left: 16px;
            text-decoration: none;
            margin-bottom: 8px;
            &:hover,
            &.active {
                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                color: #00B2FF;
            }
            &:hover.account::before,
            &.active.account::before {
                background: url('./../assets/icons/account-account-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.orders::before,
            &.active.orders::before {
                background: url('./../assets/icons/account-cart-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.prices::before,
            &.active.prices::before {
                background: url('./../assets/icons/account-calc-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.files::before,
            &.active.files::before {
                background: url('./../assets/icons/account-files-active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover.offerts::before,
            &.active.offerts::before {
                background: url('./../assets/icons/account_offerts_active.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.account::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-account.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.orders::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-cart.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.prices::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-calc.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.files::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account-files.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.offerts::before {
                position: absolute;
                content: '';
                top: 4px;
                left: -16px;
                background: url('./../assets/icons/account_offerts.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

.col-10-container {
    width: 85%;
    height: max-content;
    .account-password-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        padding: 40px;
        background-color: #FFFFFF;
        .account-pass-cont-left {
            display: flex;
            flex-direction: column;
            width: 50%;
            .account-data-cont,
            .account-tel-number-cont,
            .account-mail-cont {
                padding-left: 40px;
                position: relative;
                .account-title {
                    margin: 12px 0;
                }
                .account-desc {
                    margin: 12px 0;
                }
            }
            .account-data-cont::before {
                position: absolute;
                content: '';
                top: 18px;
                left: 0;
                background: url('./../assets/icons/account.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .account-tel-number-cont::before {
                position: absolute;
                content: '';
                top: 18px;
                left: 0;
                background: url('./../assets/icons/Call.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .account-mail-cont::before {
                position: absolute;
                content: '';
                top: 18px;
                left: 0;
                background: url('./../assets/icons/envelope.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .account-pass-cont-right {
            display: flex;
            flex-direction: column;
            width: 50%;
            border-left: 1px solid #000000;
            padding-left: 5%;
            .account-pass-container {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-left: 40px;
                &::before {
                    position: absolute;
                    content: '';
                    top: 8px;
                    left: 4px;
                    background: url('./../assets/icons/password.svg');
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                label {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;
                }
                input {
                    border: 1px solid #ADADAD;
                    border-radius: 18px;
                    height: 40px;
                    padding-left: 16px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 8px;
                    margin-left: -40px;
                    background-color: #FAFCFD;
                    max-width: 70%;
                }
            }
        }
    }
    .account-address-container,
    .account-invoice-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        padding: 40px;
        width: calc(42% - 24px);
        margin-top: 24px;
        margin-right: 24px;
        min-height: 280px;
        background-color: #FFFFFF;
        &.account-add-address-container {
            min-height: auto;
        }
        &:nth-child(odd) {
            margin-right: 0;
        }
        .account-data-cont {
            position: relative;
            padding-left: 40px;
            .account-title {
                margin: 12px 0;
            }
            .account-desc {
                margin: 12px 0;
                &.default {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 36px;
                    color: #2ABE27;
                }
            }
            &.location::before {
                position: absolute;
                content: '';
                top: 18px;
                left: 0;
                background: url('./../assets/icons/Location.svg') !important;
                width: 20px !important;
                height: 20px !important;
                background-repeat: no-repeat !important;
                background-size: contain !important;
            }
            &.invoice::before {
                position: absolute;
                content: '';
                top: 18px;
                left: 0;
                background: url('./../assets/icons/account-data.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.address::before {
                position: absolute;
                content: '';
                top: 18px;
                left: -8px;
                background: url('./../assets/icons/blue-car.svg');
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .account-change-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #012E71;
        border-radius: 39px;
        height: 56px;
        width: 70%;
        margin-top: 24px;
        background-color: #FAFCFD;
        a.change-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-decoration: underline;
            text-transform: uppercase;
            color: #253D4E;
            &:hover {
                text-decoration: none;
            }
            &::before {
                position: absolute;
                content: '';
                top: 18px;
                left: calc(50% - 56px);
                background: url('./../assets/cart-page/cart-change-icon.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.add-address::before {
                position: absolute;
                content: '';
                top: 18px;
                left: calc(50% - 56px);
                background: url('./../assets/icons/add.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &.double {
            width: 45%;
            margin-right: 8px;
        }
    }
    .account-delete-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #012E71;
        border-radius: 39px;
        height: 56px;
        width: 45%;
        margin-top: 24px;
        background-color: #FAFCFD;
        a.delete-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-decoration: underline;
            text-transform: uppercase;
            color: #253D4E;
            &:hover {
                text-decoration: none;
            }
            &::before {
                position: absolute;
                content: '';
                top: 18px;
                left: calc(50% - 56px);
                background: url('./../assets/icons/Trashcan.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

/* =================================== 1280 px ========================== */

@media (max-width: 1280px) {
    .col-10-container .account-address-container,
    .col-10-container .account-invoice-container:nth-child(odd) {
        width: calc(100% - 10vw) !important;
    }
    .col-10-container .account-change-btn,
    .col-10-container .account-delete-btn {
        width: 100% !important;
    }
    #account-section .account-add-a-new-address-container, 
    #account-section .account-change-address-container, 
    #account-section .account-change-personal-data-container, 
    #account-section .account-change-delivery-address-container,
    #account-section .account-change-invoice-data-container, 
    #account-section .account-change-password-container {
        padding: 40px;
        width: 80vw;
    }
}

/* =================================== 760 px ========================== */

@media (max-width: 760px) {
    #account-section label,
    #account-section input {
        font-size: 16px !important;
        line-height: 28px !important;
    }
    .row-container .col-2-container {
        width: 80% !important;
        padding: 16px 16px 16px 40px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-10-container .account-password-container .account-pass-cont-right .account-pass-container input {
        max-width: 100% !important;
    }
    .col-10-container .account-password-container {
        flex-direction: column !important;
    }
    .col-10-container .account-password-container .account-pass-cont-right {
        border-left: 0 !important;
        padding-left: 0 !important;
    }
    .col-10-container .account-password-container .account-pass-cont-left,
    .col-10-container .account-password-container .account-pass-cont-right,
    .col-10-container .account-change-btn, 
    .col-10-container .account-delete-btn {
        width: 100% !important;
    }
    .col-10-container .account-password-container .account-pass-cont-right .account-pass-container {
        margin-top: 24px !important;
    }
    .col-10-container .account-address-container, 
    .col-10-container .account-invoice-container:nth-child(odd) {
        width: 80% !important;
    }
    #account-section h1.title,
    .col-10-container .account-password-container .account-pass-cont-left .account-data-cont .account-title, 
    .col-10-container .account-password-container .account-pass-cont-left .account-tel-number-cont .account-title, 
    .col-10-container .account-password-container .account-pass-cont-left .account-mail-cont .account-title,
    .col-10-container .account-password-container .account-pass-cont-right .account-pass-container label,
    .col-10-container .account-address-container .account-data-cont .account-title, 
    .col-10-container .account-invoice-container .account-data-cont .account-title,
    .col-10-container .account-address-container .account-data-cont .account-desc.default, 
    .col-10-container .account-invoice-container .account-data-cont .account-desc.default,
    #account-section .account-add-a-new-address-container .title, 
    #account-section .account-change-address-container .title, 
    #account-section .account-change-personal-data-container .title, 
    #account-section .account-change-delivery-address-container .title, 
    #account-section .account-change-invoice-data-container .title, 
    #account-section .account-change-password-container .title {
        font-size: 20px !important;
	    line-height: 24px !important;
    }
    .col-10-container .account-address-container .account-data-cont .account-desc, 
    .col-10-container .account-invoice-container .account-data-cont .account-desc,
    #account-section .page-description p,
    .col-10-container .account-password-container .account-pass-cont-left .account-data-cont .account-desc, 
    .col-10-container .account-password-container .account-pass-cont-left .account-tel-number-cont .account-desc, 
    .col-10-container .account-password-container .account-pass-cont-left .account-mail-cont .account-desc {
        font-size: 14px !important;
        line-height: 21px !important;
    }
    .col-10-container .account-password-container .account-pass-cont-right .account-pass-container::before {
        top: 4px !important;
    }
    #account-section .account-add-a-new-address-container, 
    #account-section .account-change-address-container, 
    #account-section .account-change-personal-data-container, 
    #account-section .account-change-delivery-address-container,
    #account-section .account-change-invoice-data-container, 
    #account-section .account-change-password-container {
        padding: 24px;
        width: 80vw;
        height: 80vh;
        top: 35vh;
        margin-top: 24px;
        overflow-y: scroll;
        transform: translate(-55%, -50%);
    }
    #account-section .account-add-a-new-address-container .address-cont-big-slot, 
    #account-section .account-change-address-container .address-cont-big-slot, 
    #account-section .account-change-personal-data-container .address-cont-big-slot, 
    #account-section .account-change-delivery-address-container .address-cont-big-slot, 
    #account-section .account-change-invoice-data-container .address-cont-big-slot, 
    #account-section .account-change-password-container .address-cont-big-slot {
        flex-direction: column !important;
    }
    #account-section .account-add-a-new-address-container .address-cont-big-slot .address-cont-left-slot, 
    #account-section .account-change-address-container .address-cont-big-slot .address-cont-left-slot, 
    #account-section .account-change-personal-data-container .address-cont-big-slot .address-cont-left-slot, 
    #account-section .account-change-delivery-address-container .address-cont-big-slot .address-cont-left-slot, 
    #account-section .account-change-invoice-data-container .address-cont-big-slot .address-cont-left-slot, 
    #account-section .account-change-password-container .address-cont-big-slot .address-cont-left-slot,
    #account-section .account-add-a-new-address-container .address-cont-big-slot .address-cont-right-slot, 
    #account-section .account-change-address-container .address-cont-big-slot .address-cont-right-slot, 
    #account-section .account-change-personal-data-container .address-cont-big-slot .address-cont-right-slot, 
    #account-section .account-change-delivery-address-container .address-cont-big-slot .address-cont-right-slot, 
    #account-section .account-change-invoice-data-container .address-cont-big-slot .address-cont-right-slot, 
    #account-section .account-change-password-container .address-cont-big-slot .address-cont-right-slot {
        width: 100% !important;
    }
    #account-section .account-add-a-new-address-container .address-slot-btn .save-btn, 
    #account-section .account-change-address-container .address-slot-btn .save-btn, 
    #account-section .account-change-personal-data-container .address-slot-btn .save-btn, 
    #account-section .account-change-delivery-address-container .address-slot-btn .save-btn, 
    #account-section .account-change-invoice-data-container .address-slot-btn .save-btn, 
    #account-section .account-change-password-container .address-slot-btn .save-btn {
        margin-top: 16px !important;
    }
}