.files-container {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    width: 100%;
    min-height: 420px;
    padding-left: 40px;
    padding-top: 16px;
    .files-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #253D4E;
    }
    .file-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-decoration: underline; 
        color: #253D4E;
    }
    .file-size {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #253D4E;
    }
    .upload-files-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        padding: 20px 40px;
        width: max-content;
        margin-top: 64px;
        .upload-files-txt {
            font-weight: 700;
            font-size: 17px;
            line-height: 25px;
            color: #253D4E;
        }
        .upload-files-btn-container {
            display: flex;
            align-items: center;
            text-align: center;
            border: 2px solid #83C000;
            border-radius: 30px;
            padding: 2px 8px;
            margin-left: 24px;
            .upload-files-btn {
                font-weight: 400;
                font-size: 17px;
                line-height: 25px;
                color: #253D4E;
                text-decoration: none;
            }
            &:hover {
                background-color: #83C000;
                .upload-files-btn {
                    color: #FFFFFF;
                }
            }
        }
    }
}

/* =================================== 1280 px ========================== */

@media (max-width: 1280px) {
    .files-container {
        width: 95% !important;
        min-height: unset;
        padding-bottom: 24px;
    }
    .files-container .files-title {
        font-size: 20px !important;
        line-height: 24px !important; 
    }
}

/* =================================== 760 px ========================== */

@media (max-width: 760px) {
    .files-container {
        width: 90% !important;
    }
    .files-container .files-title {
        font-size: 20px !important;
        line-height: 24px !important; 
    }
    .files-container .upload-files-container {
        flex-direction: column !important;
    }
    .files-container .upload-files-container .upload-files-btn-container {
        margin-left: 0 !important;
    }
    .files-container .upload-files-container .upload-files-btn-container .upload-files-btn,
    .files-container .file-name,
    .files-container .file-size {
        font-size: 14px !important;
        line-height: 21px !important;
    }
}