.order-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .order-details-container-left {
        .order-details-title {
            font-weight: 700;
            font-size: 26px;
            line-height: 43px;
            color: #253D4E;
        }
        .order-details-p {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #253D4E;
            margin: 0;
        }
    }
    .order-details-container-right {
        width: 50%;
        .order-details-price-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #253D4E;
            .price-top-left {
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;  
                }
            }
            .price-top-right {
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;  
                }
            }
        }
        .order-details-price-middle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #253D4E;
            .price-middle-left {
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;  
                }
            }
            .price-middle-right {
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;  
                }
            }
        }
        .order-details-price-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            .price-bottom-left {
                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 36px;
                    color: #253D4E;  
                }
            }
            .price-bottom-right {
                p {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 36px;
                    color: #83C000;  
                }
            }
        }
    }
}

section.back-to-shop {
    width: auto !important;
    .back-top-shop-btn-container {
        width: 34% !important;
    }
}

/* =================================== 1280 px ========================== */

@media (max-width: 1280px) {
    .account-long-container .account-long-container-slot .account-long-slot-desc-start .middle-right .long-slot-desc-title a h1,
    .account-long-container .account-long-container-slot .account-long-slot-desc-end .long-slot-prices .long-slot-prices-bottom p .netto-summary-price,
    .account-long-container .account-long-container-slot .account-long-slot-desc-end .long-slot-prices .long-slot-prices-top p {
        font-size: 20px !important;
	    line-height: 24px !important;
    }
    .account-long-container .account-long-container-slot .account-long-slot-desc-end .long-slot-prices .long-slot-prices-top p {
        margin-top: 16px !important;
        padding: 8px 0 !important;
    }
    .account-orders-long-container .order-container-right .order-title-and-btn .order-btn-container .order-btn a {
        font-size: 16px !important;
    }
}

/* =================================== 760 px ========================== */

@media (max-width: 760px) {
    .account-long-container .account-long-container-slot,
    .account-long-container .account-long-container-slot .account-long-slot-desc-start,
    #account-section .order-details-container {
        flex-direction: column !important;
    }
    .account-long-container .account-long-container-slot .account-long-slot-desc-end .long-slot-prices .long-slot-prices-bottom p {
        text-align: right !important;
    }
    .order-details-container .order-details-container-right .order-details-price-top,
    .order-details-container .order-details-container-right .order-details-price-middle,
    .order-details-container .order-details-container-right .order-details-price-bottom {
        width: 50vw !important;
    }
    .order-details-container .order-details-container-right .order-details-price-top .price-top-left p,
    .order-details-container .order-details-container-right .order-details-price-top .price-top-right p,
    .order-details-container .order-details-container-left .order-details-p,
    .order-details-container .order-details-container-right .order-details-price-middle .price-middle-left p,
    .order-details-container .order-details-container-right .order-details-price-middle .price-middle-right p,
    .order-details-container .order-details-container-right .order-details-price-bottom .price-bottom-left p,
    .order-details-container .order-details-container-right .order-details-price-bottom .price-bottom-right p {
        font-size: 14px !important;
        line-height: 21px !important;
    }
    #account-section .row-container .col-10-container {
        width: 95% !important;
    }
}