.the_tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .slot-price {
      padding-top: 12px;
    }
  }
  
  .the_tabs input[type="radio"] {
    display: none;
  }

  .tab-text {
    border-bottom: 4px solid #FFF;
    margin-bottom: 24px;
    width: 10%;
    min-width: 10%;
    margin-right: 2%;
  }
  
  .the_tabs label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0 24px 0;
    text-transform: uppercase;
    cursor: pointer;
    img {
      margin-right: 8px;
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  .the_tabs .tab {
    width: 100%;
    order: 1;
    display: none;
  }
  
  .the_tabs .tab h2 {
    font-size: 2rem;
  }
  
  .the_tabs .tab p {
    padding-bottom: 1rem;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text + .tab {
    display: block;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text {
    color: #83C000;
    border-bottom: 4px solid #012E71;
  }
  
@media (max-width: 1280px) {
    .tab-text {
      width: 18%;
      min-width: 18%;
      margin-right: 2%;
    }
}

@media (max-width: 760px) {
  .tab-text {
    width: 20%;
    min-width: 20%;
    margin-right: 2%;
  }
}

@media (max-width: 600px) {
  .tab-text {
    width: 28%;
    min-width: 28%;
    margin-right: 4%;
  }
}